
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-dark: #212529;
    --bg-semi-dark: #282828;
    --bg-gray: #3c3c3c;
    --bg-semi-gray: #000000cc;
    --bg-light: #fff;
    --bg-hover-btn: #424649;
    --text-danger: #ff0400;
    --text-edit: #0099ff;
    --color-border: rgba(59, 93, 80, 0.8);
    --color-shadow: rgba(59, 93, 80, 0.5);
}

.content{
    background-color: var(--bg-semi-gray);
}

.content .navbar-left{
    width: 14rem;
    padding-top: 4rem;
    background-color: var(--bg-semi-dark);
}

.content .navbar-left .navbtn{
    padding: 0.45rem 0;
    padding-left: 2.75rem;
    opacity: 0.75;
    cursor: pointer;
    color: var(--bg-light);
    font-size: 0.875rem;
    font-weight: 400;
}

.content .navbar-left .navbtn:hover{
    opacity: 1;
    background-color: var(--bg-hover-btn);
}

.content .navbar-left .accordion,
.content .navbar-left .accordion-item,
.content .navbar-left .accordion-button,
.content .navbar-left .accordion-body{
    background-color: var(--bg-semi-dark) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.content .navbar-left .accordion-button::after{
    background-image: url(../images/icon-down.png) !important;
    background-size: 0.75rem;
    background-position: center;
}

.content .navbar-left .accordion-body{
    color: var();
}

.content .content-wrapper{
    flex: 1;
    padding-top: 4rem;
    overflow: hidden;
}

.content .content-wrapper .content-body {
    background-color: var(--bg-light);
    border-radius: 0.5rem;
    width: 100%;
    height: calc(100vh - 10rem);
    overflow-y: scroll;
}

.content .content-wrapper .content-body label {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.content .form-search-input{
    width: 16rem;
    max-width: 100%;
    padding: 0.375rem 0;
    border: 0.0625rem solid var(--color-border);
    border-radius: 0.375rem;
    text-indent: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all ease 0.2s;
}

.content .form-search-input:focus {
    outline: none;
    border-color: var(--color-border);
    box-shadow: 0 0.0625rem 0.25rem 0 var(--color-shadow);
}

.flex-1{
    flex: 1;
}

@media (min-width: 576px) {
    .flex-sm-1{
        flex: 1;
    }
}

@media (min-width: 768px) {
    .flex-md-1{
        flex: 1;
    }
}

@media (min-width: 992px) {
    .flex-lg-1{
        flex: 1;
    }
}

@media (min-width: 1200px) {
    .flex-xl-1{
        flex: 1;
    }
}

input {
    border: 1px solid #ccc;
}